@import "../../../styles/flex";
@import "../../../styles/card";
@import "../../../styles/dimentions";

.professorPage {
    @include flex(column, flex-start, center);

    width: 100%;
    padding-top: 20px;

    &ProfessorContainer {
        @extend %card;

        margin-top: 20px;
        width: 60%;

        @media (max-width: $tablet) {
            width: 80%;
        }

        @media (max-width: $mobile) {
            width: 90%;
        }

        &Avatar {
            border-radius: 50%;
            object-fit: cover;
            width: 150px;
            height: 150px;
        }

        &InfoContainer {
            @include flex(column, center, center);

            height: 100%;
            margin: 8px;
            width: 80%;
            color: #ffffff;

            &TagsContainer {
                @include flex(row, center, center);

                width: 100%;
                flex-wrap: wrap;
            }
        }

        &ClassesContainer {
            @include flex(row, center, flex-start);

            width: 100%;
            padding-top: 20px;
            flex-wrap: wrap;

            &ClassCard {
                @include flex(column, flex-start, flex-start);
                @extend %card;

                cursor: pointer;
                margin: 8px;
            }
        }

        &CommentariesContainer {
            @include flex(column, center, center);

            width: 100%;
            padding-top: 20px;

            &CommentaryCard {
                @include flex(row, flex-start, flex-start);
                @extend %card;

                width: 80%;
                margin: 8px;

                &Avatar {
                    margin-right: 8px;
                    border-radius: 50%;
                    object-fit: cover;
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}