@import "../../../styles/flex";
@import "../../../styles/card";

.professorsPage {
    @include flex(column, flex-start, center);

    width: 100%;
    padding-top: 20px;

    &ButtonsContainer {
        @include flex(row, center, center);

        width: 100%;
        padding-top: 20px;
    }

    &ProfessorsContainer {
        @include flex(row, center, center);

        width: 100%;
        padding-top: 20px;
        flex-wrap: wrap;

        &ProfessorCard {
            @extend %card;
            @include flex(row, flex-start, center);

            * {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            cursor: pointer;
            width: 300px;
            margin: 8px;

            &Avatar {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin-right: 8px;
            }

            &InfoContainer {
                @include flex(column, flex-start, flex-start);

                height: 100%;
            }
        }
    }
}
