@import "../../styles/flex";
@import "../../styles/card";
@import "../../styles/dimentions";

.createAccountPage {
    @include flex(column, flex-start, center);
    @extend %card;

    width: 400px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    &InfoContainer {
        @include flex(column, center, center);

        text-align: center;
        padding: 40px;

        @media (max-width: $tablet) {
            width: 80%;
        }

        @media (max-width: $mobile) {
            width: 90%;
        }
    }
}
